.mini-poster {
    margin: auto;
    height: 300px;
    border-radius: 5px;
    border: 2px solid black;
    transition: transform 400ms;
}

.mini-poster:hover {
  transform: scale(1.1);
  color: #808080;
  box-sizing: border-box;
  box-shadow:
  0 -40px 100px,
  0 0 2px,
  0 0 1em #808080,
  0 0 0.5em #808080,
  0 0 0.1em #808080,
  0 10px 3px #000;
  cursor: pointer;
}

.card-title {
  padding: 20px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin: 0%;
}

.card-rating {
  color: white;
  margin-top: 10px;
}
