.mini-poster {
    margin: 0;
    height: 300px;
    transition: transform 400ms;
}

.mini-poster:hover {
    transform: scale(1.1);
  color: #808080;
  box-sizing: border-box;
  box-shadow:
  0 -40px 100px,
  0 0 2px,
  0 0 1em #808080,
  0 0 0.5em #808080,
  0 0 0.1em #808080,
  0 10px 3px #000;
  cursor: pointer;
}
