* {
    z-index: 2;
}

.single-movie-container {
    display: flex;
    align-items: flex-start;
}

.single-movie-backdrop {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.movie-poster {
    height: 200px;
    width: 150px;
}

p, h2 {
    color: white;
}